@page "/"

<PageTitle>Index</PageTitle>

<h1>UAS Pemrograman 2</h1>
<br />Betran Gustama - 20201000006
<br />Stanley Ananda - 20201000003
<br />Shandy Destiawan - 20201000004
<br />Arfin Refaldi - 20201000005



